<ion-view style="" class=" " id="page4" title="Agendas favoris">
    <ion-content class="has-header" padding="true">
        <ion-list style="" class=" " id="agendasFavoris-list7">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Rechercher un agenda" type="search">
            </label>

            <a class="item item-button-right item-icon-left">
            <i class="icon ion-person"></i>
                <h2>Jeannot Lapin</h2>
                <p>jlapin</p>
                <button class="button button-outline button-assertive">
                    <i class="icon ion-close-round"></i>
                </button>
            </a>

        </ion-list>
    </ion-content>
</ion-view>