<ion-view style="" class=" " id="page4" title="Agendas favoris">
    <ion-content class="has-header" padding="true">
        <ion-list style="" class=" " id="agendasFavoris-list7">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Rechercher un agenda" type="search">
            </label>
            <ion-item style="" id="agendasFavoris-list-item5" class="item-avatar item-icon-right  ">
                <h2>Jeannot Lapin</h2>
                <p>jlapin</p>
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item style="" id="agendasFavoris-list-item6" class="item-avatar item-icon-right  ">
                <h2>Marie Dubochan</h2>
                <p>mdubochan</p>
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>