<ion-view style="" class=" " id="page6" title="Bienvenue" hide-nav-bar="true">
    <ion-content scroll="false" padding="true" style="background: url(img/bf_amphi.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div style="width: 300px; height: 155px;" class="spacer"></div>
        <h1 class=" " style="color: rgb(255, 255, 255); text-align: center;" id="bienvenue-heading1">UTC Now</h1>
        <p class=" " style="color: rgb(255, 255, 255); text-align: center;" id="bienvenue-markdown2">Tous les cours et évènements de l'UTC,
            <br>en direct</p>
        <!--<a class=" button button-positive  button-block icon ion-log-in " id="bienvenue-button1" href="https://cas.utc.fr/cas/login?service=http://localhost:8080/authenticate">Se connecter avec le login CAS</a>-->
        <a class="button button-positive  button-block icon ion-log-in" id="bienvenue-button1" ui-sref="tabsController.toutLUTC">Se connecter avec le login CAS</a>
    </ion-content>
</ion-view>ß