<ion-view style="" class=" " id="page11" title="Carte évènement">
    <ion-content class="has-header" padding="true">
        <div style="" id="carteVNement-card2" class="list card ">
            <div class="item item-divider">Un event top</div>
            <div class="item item-body">
                <h2 class=" " style="color: rgb(0, 0, 0);" id="carteVNement-heading4">Mercredi 11/05/2016 14-16h</h2>
                <h3 class=" " style="color: rgb(0, 0, 0);" id="carteVNement-heading3">BF A509</h3>
                <p class=" " style="color: rgb(0, 0, 0);" id="carteVNement-markdown6">Venez vous enjailler ajajaja.</p>
                <a class=" button button-royal  button-block icon ion-edit " id="carteVNement-button24" ui-sref="tabsController.editerUnVNement">Editer l'évènement</a>
                <h2 class=" " style="color: rgb(0, 0, 0);" id="carteVNement-heading2">Participants</h2>
                <h3 class=" " style="color: rgb(0, 0, 0);" id="carteVNement-heading5">Participer à l'évènement ?</h3>
                <div style="" class=" button-bar " id="carteVNement-button-bar3">
                    <button class=" button button-balanced  button-block icon ion-checkmark " id="carteVNement-button14"></button>
                    <button class=" button button-energized  button-block icon ion-help " id="carteVNement-button15"></button>
                    <button class=" button button-assertive  button-block icon ion-close " id="carteVNement-button16"></button>
                </div>
                <ion-list style="" class=" " id="carteVNement-list8">
                    <label style="" class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input placeholder="Inviter quelqu'un" type="search">
                    </label>
                    <ion-item style="" id="carteVNement-list-item13" class="item-avatar item-icon-right royal  ">
                        <h2royal>Marcel Gerard
                            <p>Organisateur</p>
                            <i class="icon ion-star"></i>
                        </h2royal>
                    </ion-item>
                    <ion-item style="" id="carteVNement-list-item11" class="item-avatar item-icon-right balanced  ">
                        <h2balanced>Lulu Dubochan
                            <p>ldubochan</p>
                            <i class="icon ion-checkmark"></i>
                        </h2balanced>
                    </ion-item>
                    <ion-item style="" id="carteVNement-list-item9" class="item-avatar item-icon-right energized  ">
                        <h2energized>Item
                            <i class="icon ion-help"></i>
                        </h2energized>
                    </ion-item>
                    <ion-item style="" id="carteVNement-list-item10" class="item-avatar item-icon-right assertive  ">
                        <h2assertive>Item
                            <i class="icon ion-close"></i>
                        </h2assertive>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>