<ion-view style="" class=" " id="page10" title="Default Agenda" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div style="" class=" button-bar " id="defaultAgenda-button-bar2">
            <button class=" button button-positive  button-block icon ion-arrow-left-a " id="defaultAgenda-button9"></button>
            <button class=" button button-positive  button-block " id="defaultAgenda-button10">12/05</button>
            <button class=" button button-positive  button-block icon ion-arrow-right-a " id="defaultAgenda-button11"></button>
        </div>
        <div style="width: 283px; height: 360px;" class="spacer"></div>
        <button class=" button button-balanced  icon ion-android-funnel " id="defaultAgenda-button12"></button>
        <a class=" button button-balanced  icon ion-android-add-circle " id="defaultAgenda-button13" ui-sref="tabsController.editerUnVNement"></a>
        <div style="" id="defaultAgenda-card3" class="list card ">
            <div class="item item-divider">Filtres</div>
            <div class="item item-body">
                <form style="" class="list " id="defaultAgenda-form11">
                    <ion-toggle style="" class=" " id="defaultAgenda-toggle4" toggle-class="toggle-positive" ng-checked="true">Personnel</ion-toggle>
                    <ion-toggle style="" class=" " id="defaultAgenda-toggle5" toggle-class="toggle-calm" ng-checked="true">Associatif</ion-toggle>
                    <ion-toggle style="" class=" " id="defaultAgenda-toggle6" toggle-class="toggle-energized" ng-checked="true">Conférence</ion-toggle>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>