<ion-view style="" class=" " id="page12" title="Editer un évènement">
    <ion-content class="has-header" padding="true" ng-controller="editerUnVNementCtrl">
        <form style="" class="list " id="editerUnVNement-form7">
            <label style="" id="editerUnVNement-input3" class="item item-input ">
                <input placeholder="Nom de l'évènement" type="text" name="eventname" ng-model="eventname">
            </label>
            <label style="" id="editerUnVNement-input4" class="item item-input ">
                <span class="input-label">Lieu</span>
                <input placeholder="" type="text">
            </label>
            <a class=" button button-stable  button-block ">Lieu</a>
            <label style="" id="editerUnVNement-input5" class="item item-input ">
                <span class="input-label">Date</span>
                <input placeholder="" type="date">
            </label>
            <label style="" id="editerUnVNement-input6" class="item item-input ">
                <span class="input-label">Heure début</span>
                <input placeholder="" type="time">
            </label>
            <label style="" id="editerUnVNement-input7" class="item item-input ">
                <span class="input-label">Heure fin</span>
                <input placeholder="" type="time">
            </label>
            <label style="" id="editerUnVNement-textarea2" class="item item-input ">
                <span class="input-label">Description</span><textarea placeholder=""></textarea>
            </label>
            <ion-toggle style="" class=" " id="editerUnVNement-toggle2" toggle-class="toggle-positive" ng-checked="true">Montrer dans l'agenda Global</ion-toggle>
            <label style="" id="editerUnVNement-select2" class="item item-select ">
                <span class="input-label">Choisir l'agenda</span>
                <select>
                    <option>Personnel</option>
                    <option>Associatif</option>
                    <option>Permanence Pic'Asso</option>
                    <option>Conférence</option>
                    <option>Covoiturage</option>
                </select>
            </label>

            <div style="" class=" button-bar " id="editerUnVNement-button-bar4">
                <a class=" button button-stable  button-block " id="editerUnVNement-button17" ui-sref="tabsController.monAgenda">Annuler</a>
                <button class=" button button-balanced  button-block " id="editerUnVNement-button19" ui-sref="tabsController.monAgenda" ng-click="submit(eventname)" >Enregistrer</button>
            </div>
        </form>
    </ion-content>
</ion-view>