<ion-view style="" class=" " id="page3" title="Mon agenda">

    <div class="bar bar-subheader bar-light">
        <div class="button-bar">
            <button class=" button button-positive button-full" style="">Filtrer</button>
            <button class=" button button-balanced button-full" id="monAgenda-button23" ui-sref="tabsController.editerUnVNement" style="">Ajouter</button>
        </div>
    </div>
    <ion-content class="has-header has-subheader has-footer" padding="true">
        <div ng-repeat="event in events.data">
            <div class="card">
                <div class="item item-divider">
                    {{event.name}}
                </div>
                <div class="item item-text-wrap">
                    {{event.desc}}
                </div>
            </div>
        </div>


    </ion-content>
    <ion-footer-bar align-title="center " class="bar-positive">

        <div class="buttons">
            <button class="button icon ion-chevron-left" ng-click="date.setDate(date.getDate()-1)"></button>
        </div>

        <h1 class="title" ng-click="showDatePopup()">
            {{date | date:'dd-MM-yyyy'}}
        </h1>

        <div class="buttons">
            <button class="button icon ion-chevron-right" ng-click="date.setDate(date.getDate()+1)"></button>
        </div>
    </ion-footer-bar>
</ion-view>