<ion-view style="" class=" " id="page3" title="Mon agenda">

    <div ng-if="platform != 'android'" class="bar bar-subheader bar-light">
        <div class="button-bar">
            <button class=" button button-positive button-full" style="">Filtrer</button>
            <button class=" button button-balanced button-full" id="monAgenda-button23"
                    ui-sref="tabsController.editerUnVNement" style="">Ajouter
            </button>
        </div>
    </div>
    <ion-content class="has-header has-footer" ng-class="{'has-subfooter': platform == 'android', 'has-subheader': platform != 'android'}" padding="true">
        <div ng-repeat="event in selectedDateEvents">
            <div class="card" ui-sref="tabsController.carteVNement({idevent: '{{event.id_event}}'})">
                <div class="item item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <h2>{{event.name}}</h2>
                    <p>
                        {{event.location}} - {{event.start | date:'H:mm'}} - {{event.end | date:'H:mm'}}
                    </p>
                </div>
                <div class="item item-text-wrap">
                    {{event.description}}
                </div>
            </div>
        </div>
    </ion-content>
    <div ng-if="platform == 'android'" class="bar bar-subfooter bar-light">
        <div class="button-bar">
            <button class=" button button-positive button-full" style="">Filtrer</button>
            <button class=" button button-balanced button-full" id="monAgenda-button23"
                    ui-sref="tabsController.editerUnVNement" style="">Ajouter
            </button>
        </div>
    </div>
    <ion-footer-bar align-title="center " class="bar-positive">

        <div class="buttons">
            <button class="button icon ion-chevron-left" ng-click="date.setDate(date.getDate()-1)"></button>
        </div>

        <h1 class="title" ng-click="showDatePopup()">
            {{date | date:'dd-MM-yyyy'}}
        </h1>

        <div class="buttons">
            <button class="button icon ion-chevron-right" ng-click="date.setDate(date.getDate()+1)"></button>
        </div>
    </ion-footer-bar>
</ion-view>