<ion-view style="" id="page8" title="Paramètres">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <ion-item style="" class="item-divider">Rendre mon agenda visible par</ion-item>
                <ion-radio style="">Tout le monde</ion-radio>
                <ion-radio style="">Les amis ajoutés à mes favoris</ion-radio>
                <ion-radio style="">Seulement moi</ion-radio>
            </ion-list>
            <ion-item style="" class="item-divider">Personnalisation</ion-item>
            <ion-checkbox style="">Montrer ma photo</ion-checkbox>
            <a class="button button-balanced  button-block" id="paramTres-button5" ui-sref="tabsController.monAgenda">Enregistrer</a>
        </form>
    </ion-content>
</ion-view>