<ion-view style="" class=" " id="page8" title="Paramètres">
    <ion-content class="has-header" padding="true">
        <form style="" class="list " id="paramTres-form6">
            <ion-list style="" class=" " id="paramTres-list6">
                <ion-item style="" id="paramTres-list-item-divider2" class="item-divider ">Rendre mon agenda visible par</ion-item>
                <ion-radio style="" class=" " id="paramTres-radio2">Tout le monde</ion-radio>
                <ion-radio style="" class=" " id="paramTres-radio3">Les amis ajoutés à mes favoris</ion-radio>
                <ion-radio style="" class=" " id="paramTres-radio4">Seulement moi</ion-radio>
            </ion-list>
            <ion-item style="" id="paramTres-list-item-divider3" class="item-divider ">Personnalisation</ion-item>
            <ion-checkbox style="">Montrer ma photo</ion-checkbox>
            <a class=" button button-balanced  button-block " id="paramTres-button5" ui-sref="tabsController.monAgenda">Enregistrer</a>
        </form>
    </ion-content>
</ion-view>