<ion-view style="" class=" " id="page2" title="Tout à l'UTC">
    <ion-content class="has-header" padding="true">
        <ion-list style="" class=" " id="agendasFavoris-list7">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Rechercher un evenement.." type="search" ng-model="search"
                       ng-change="updateMatchingEvents(search)">
            </label>
        </ion-list>

        <div ng-repeat="event in matchingEvents">
            <div class="card" ui-sref="tabsController.carteVNement({idevent: '{{event.id_event}}'})">
                <div class="item item-icon-left {{colorFromEventType('item',event.type)}}">
                    <i class="icon ion-calendar"></i>
                    <h2>{{event.name}}</h2>
                    <p>
                        {{event.start | date:'H:mm'}} - {{event.end | date:'H:mm'}}
                    </p>
                </div>
                <div class="item item-text-wrap">
                    {{event.description}}
                </div>
            </div>
        </div>

    </ion-content>


</ion-view>